.signupContainer {
    background-color: black;
}

.querySection {
    display: flex;
    flex-direction: column;
    
    text-align: left;
    margin-right: auto;

    width: 17vw;
    min-width: 500px;

    h2 { 
        color: white;
        margin-bottom: 4vh;
    }

    ::placeholder {
        color: #5D5D5D;
        font-size: 10px;
    }

    .query {
        margin: 0;
        padding: 1vh 0.6vw;

        border: 0.01vw solid white;
        color: white;

        &:hover {
            color: black;
            background-color: #aca9a9;
        }

        width: 6vw;
        min-width: 100px;

        margin-top: 0.7vh;

        font-size: 10px;
    }
}

.queryInput {
    border: 0.01vw solid #5D5D5D;
    background-color: black;

    width: 15vw;
    min-width: 200px;

    height: 3vh;
    min-height: 20px;

    margin-bottom: 1vh;

    text-indent: 0.7vw;
    color: white;
}

.querySection1 {
    display: flex;
    flex-direction: column;

    width: 15vw;
    min-width: 200px;

    h2 {
        color: white;
    }

    p {
        color: #848484;
        margin-bottom: 0;
        font-size: 8px;
    }

}

.phoneNumber {
    font-family: 'SFProDisplay';
    font-size: 18px;
    margin-top: 2vh;
    color: white;
    margin-bottom: 0.6vh;
}

.queryContainer {
    width: 75vw;
    display: flex;
    flex-direction: row;
    padding-bottom: 5vh;
}

@media all and (max-width: 1366px) {
    .queryContainer {
        width: 95vw;
    }
}

@media all and (max-width: 900px) {
    .queryContainer {
        flex-direction: column;
        padding-bottom: 2vh;
    }

    .querySection, .querySection1 {
        padding: 0;
        margin: 0;
        margin-left: 1vw;

        width: 80vw;
        min-width: 320px;
    }

    .queryInput {
        width: 50vw;
    }
}