.prjctTdGap{ 
    padding-right: 3vw;   
}

.lovContainer {
    display: flex;
    flex-direction: column;
}

.towerImg {
    width: auto;
    height: auto;
    
    max-width: 30%;
    max-height: 30%;

    min-width: 500px;
    min-height: 550px;
}

.towerWrapperMargin {
    max-width: min-content;
}

.loc-wrapper {
    flex-direction: column;
}

.loc-content {
    width: 100%;
    display: flex;

    text-align: left;
}

.loc-header {
    width: auto;
}

.loc-body {
    width: 30vw;
    margin-left: auto;
}

.tImage {
    width: auto;
    min-width: 75vw;
    height: auto;

    max-width: 100%;
    max-height: 100%;
}

.projectTable {
    width: 25vw;
    min-width: 500px;

    span {
        display: inline-block;
    }
}

.grid {
    display: flex;
}

.mediaProjectH2 {
    margin-right: 2vw;
}

.projectDiv {
    padding-top: 10vh;
    margin-right: auto;

    h2 { 
        margin-top: 0;
    }
}

.project-wrapper {
    width: 75vw;
    min-width: 985px;

    padding-top: 20vh;
    padding-bottom: 20vh;

    display: flex;

    justify-content: start;
    align-items: center;
    flex-direction: row;
}

#project {
    height: min-content;
}

@media all and (max-width: 1366px) {
    .mediaProjectSection {
        min-width: 250px;
    }
    .mediaProjectH2 {
        min-width: 250px;
    }
}

@media all and (max-width: 1023px){
    #project {
        display: grid;
        min-height: 1350px;
    }

    .project-wrapper { 
        overflow: auto;
        display: flex;
        flex-direction: column;
        align-items: start;

        width: 95vw;
        min-width: 0;

        height: 100%;
    }

    .projectDiv { 
        width: 95vw;
        padding: 0;
        margin: 0;
        padding-bottom: 10vh;
    }

    .locDiv {
        width: 95vw;
    }

    .towerImg {
        min-width: 95vw;
        max-height: min-content;

    }
}

@media all and (max-width: 900px) {
    .towerWrapperMargin {
        max-width: none;
        margin: 0
    }

    .loc-wrapper {
        align-items: normal;
    }

    #project {
        min-height: 1350px;
    }

    .locContainer {
        justify-content: baseline;
        min-height: 800px;
    }

    .projectDiv {
        grid-row: 1;
        width: 95vw;

        padding: 0;

    }

    .projectTable {
        width: 60vw;
        min-width: 400px;
    }

    .loc-content { 
        flex-direction: column;
    }

    .locSection {
        width: 90vw;
    }

    .loc-body, .loc-header {
        margin: 0;

        width: 90vw;
    }

    .mediaProjectH2 {
        margin: 0;
        padding: 0;

        width: 95vw;
        margin-left: 3vw;
    }
  
    .towerImg {
        width: 100%;
        height: 100%;

        max-width: 100%;
        max-height: 100%;
    }
    
.tImage {
        max-width: 100%;
        max-height: 100%;
    }
}

@media all and (max-width: 500px) {
    .towerImg { 
        min-width: 100vw;

        height: 70vh;
        min-height: 300px;

        padding: 0;
    }
    .projectDiv {
        margin-bottom: 0;
        min-width: 250px;
    }

    .tImage {
        min-width: 100vw;

        height: 20vh;
        min-height: 250px;
    }

    .projectTable {
        width: 40vw;
        min-width: 420px;
        padding: 0;
    }

    .trMediaPadding {
        padding-right: 30vw;
    }
}