.fiContainer {
    background-color: black;

    overflow: auto;
}

.style-wrapper {
    display: flex;

    padding-top: 16.5vh;
    padding-bottom: 16.5vh;

    width: 75vw;

}

.fiImage {
    width: 20vw;
    min-width: 470px;
    height: 75vh;
    min-height: 550px;
}

.whiteText { 
    p {
        color: white;
    }

    h2 {
        color: white;
    }
}

.styleDiv {
    text-align: left;
    margin-left: auto;

    padding-top: 10vh;
}

.styleAlignMarginSection {
    margin-left: auto;
    width: auto;
}

.styleAlignMarginH2 {
    width: auto;
    min-width: 450px;

}

.styleTextContainer {
    text-align: left;

    display: flex;
    flex-direction: row;

    align-items: center;
}

.luxContainer {
    padding-top: 16.5vh;
    padding-bottom: 16.5vh;
}

.lux-wrapper {
    width: 75vw;
}

.advContainer {
    background-color: #fafafa;
    justify-content: left;
    height: 35vh;
    min-height: 400px;
}

.listContainer {
    width: 30vw;
    min-width: 500px;
    text-align: left;
    margin-right: 12.5vw;

    align-self: center;
    

    ul.dashed > li:before {
        content: "––";
    }

    li span {
        position: relative;
        left: 0.3vw;
    }
}

.dashed {
    list-style-type: none;

    column-count: 2;
    column-gap: 4vw;

    li {
        margin-bottom: 2vh;
    }
}

.fImage {
    width: 100%;
    height: 50%;

    max-width: 100%;
    max-height: 50%;
}

.lobImage {
    width: 75vw;
    min-width: 900px;
    height: auto;

    max-width: 100%;
    max-height: 100%;
}

.advH2 {
    margin-right: auto;

    align-self: center;
    margin-bottom: 20vh;
    margin-left: 12.5vw;
}


@media all and (max-width: 900px) {
    .advH2 {
        margin: 0;
        margin-left: 3vw;
        align-self: center;
    }

    .lux-wrapper {
        width: 95vw;
    }

    .dashed {
        column-gap: 10vw;
    }

    .fImage {
        min-height: 240px;
    }
    .lobImage {
        margin: auto;
        max-width: 100%;
        max-height: 50%;

        margin-top: 5vh;
    }

    .styleTextContainer {
        float: none;
        display: block;

        margin: 0;
        text-align: left;
    }


    .styleDiv {
        padding: 0;
        grid-row: 1;

    }

    .modifiedOverflow {
        width: 95vw;

        margin-right: 5vw;
        margin-left: 5vw;
    }

    .styleAlignMarginH2 {
        margin: 0;
        min-width: 320px;
    }
    .styleAlignMarginSection {
        margin: 0;
        min-width: 320px;
    }

    .fiImage {
        width: 95vw;

        height: 800px;
        margin: auto;

        min-width: 320px;
    }

    .listContainer {
        margin: 0;
        min-width: 320px;
        width: 100vw;
    }

}

@media all and (max-width: 640px) {
    .luxContainer {
        height: 50vh;
        min-height: 1000px;
    }

    .lobImage { 
        margin-top: 5px;
    }
    .fiImage {
        height: 500px;
    }
}

@media all and (max-width: 500px) {
    .lobImage {
        min-width: 100vw;
        height: 35vh;
    }

    .advContainer {
        min-height: 500px;
    }

    ul.dashed {
        column-count: 1;
    }
}